.wrapper {
  transition: all 0.7s cubic-bezier(0.5, 2, 0.5, 0.5);
}

@media (min-width: 640px) {
  .wrapper:hover {
    transform: translateY(-1.4rem);
  }
}

.wrapper::before {
  content: '';
  position: absolute;
  height: 10px;
  background-color: var(--primary-100);
  top: 0;
  left: 0;
  width: 100%;
}

.wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 10px;
  background: var(--secondary-400);
  visibility: hidden;
  opacity: 0;
  transition: all 0.9s ease;
}

.wrapper:hover::after {
  visibility: visible;
  opacity: 1;
  right: auto;
  left: 0;
  width: 100%;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(6.4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slideUp {
  animation-name: slide-up;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.5, 2, 0.5, 0.5);
  animation-fill-mode: forwards;
}
