@import 'nprogress/nprogress.css';

#nprogress .bar {
  background: var(--primary-500);
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--secondary-500), 0 0 5px var(--secondary-500);
}
