@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.navbar {
  animation: slide-down 0.5s ease-out;
}

@keyframes slide-up {
  from {
    transform: translateY(6.4rem);
  }
  to {
    transform: translateY(0);
  }
}

@media (min-width: 640px) {
  .navSticky {
    animation-name: slide-up;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forward;
  }
}

.navLinkText::after {
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s ease;
}
.navLink:hover .navLinkText::after {
  visibility: visible;
  opacity: 1;
  right: auto;
  left: 0;
  width: 100%;
}
.navLinkActive::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translatex(-50%);
  width: 15px;
  height: 3px;
  border-radius: 10px;
  transition: all 0.7s ease;
}
.navLink:hover .navLinkActive::before {
  visibility: hidden;
  opacity: 0;
  width: 0;
}
